*, *:before, *:after {
    box-sizing: inherit;
}

.html {
    font-size: 62.5%;
    box-sizing: border-box;
}
.img {
    max-width: 100%;
    display: block;
}

html {
    background-color: #000;
}
#buscaMinas {
    margin: 0 auto;
    width: 500px;
    background-color: #255;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    display: grid;
    gap: 0px;
    background-color: #808080;
}
.casilla {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;

    background-color: #c0c0c0;
    padding: 0;
    margin: 0;
    width: calc(100%-8px);
    height: calc(100%-8px);
    border-top: 4px solid #fefefe;
    border-left: 4px solid #fefefe;
    border-bottom: 4px solid #808080;
    border-right: 4px solid  #808080;
}
.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revelada {
    background-color: #c0c0c0;
    width: calc(100%-2px);
    height: calc(100%-2px);
    border: 1px solid  #808080;
}

.mina {
    background-color: #ff0000;
    width: calc(100%-2px);
    height: calc(100%-2px);
    border: 1px solid  #808080;
    color: #000000;
}
.bandera {
    color: #000000;
}
.numero0 {
    color: #c0c0c0;
}
.numero1 {
    color: #0000ff;
}
.numero2 {
    color: #008000;
}
.numero3 {
    color: #ff0000;
}
.numero4 {
    color: #000080;
}
.numero5 {
    color: #800000;
}
.numero6 {
    color: #9400d3;
}
.numero7 {
    color: #000000;
}
.numero8 {
    color: #ffffff;
}